<a href="https://colab.research.google.com/github/tswells78/MyNotebooks/blob/master/NCAA_Mens_Basketball_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
try:
  from sportsreference.ncaab.teams import Teams
except ModuleNotFoundError:
  !pip install sportsreference
  from sportsreference.ncaab.teams import Teams
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [0]:
FIELDS_TO_DROP = ['away_points', 'home_points', 'date', 'location',
                  'losing_abbr', 'losing_name', 'winner', 'winning_abbr',
                  'winning_name', 'home_ranking', 'away_ranking']

dataset = pd.DataFrame()
teams = Teams()

In [0]:
team_by_offensive_rating = []

In [0]:
for t in teams:
  team_by_offensive_rating.append((t.name, t.offensive_rating))

In [0]:
team_by_offensive_rating = sorted(team_by_offensive_rating,  key=lambda x: x[1], reverse=True)

In [0]:
top_68_teams = team_by_offensive_rating[0:68]

In [0]:
top_68_teams[0:10]

[('Gonzaga', 119.3),
 ('Dayton', 119.2),
 ("Saint Mary's (CA)", 117.6),
 ('Ohio State', 116.7),
 ('Arizona', 115.0),
 ('Northern Iowa', 114.9),
 ('San Francisco', 114.4),
 ('Liberty', 114.1),
 ('San Diego State', 114.1),
 ('Louisville', 113.7)]