<a href="https://colab.research.google.com/github/tswells78/MyNotebooks/blob/master/NCAA_Mens_Basketball_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
try:
  import sportsreference
except ModuleNotFoundError:
  !pip install sportsreference
from sportsreference.ncaab.teams import Teams
from sportsreference.ncaab.schedule import Schedule
from sportsreference.ncaab.rankings import Rankings
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [0]:
teams = Teams(year='2018')

In [0]:
team_by_offensive_rating = []

In [0]:
for t in teams:
  team_by_offensive_rating.append((t.name, t.offensive_rating, t.wins, t.losses, t.strength_of_schedule))

In [0]:
team_by_offensive_rating = sorted(team_by_offensive_rating,  key=lambda x: x[1], reverse=True)

In [0]:
top_68_teams = team_by_offensive_rating[0:68]

In [124]:
top_68_teams[0:10]

[('Villanova', 122.2, 36, 4, 10.24),
 ("Saint Mary's (CA)", 119.8, 30, 6, 0.33),
 ('Duke', 118.5, 29, 8, 9.71),
 ('Gonzaga', 118.0, 32, 5, 2.59),
 ('William & Mary', 117.6, 19, 12, -1.32),
 ('Purdue', 117.5, 30, 7, 8.74),
 ('Wichita State', 117.3, 25, 8, 5.46),
 ('Michigan State', 117.2, 30, 5, 7.1),
 ('Arizona', 115.6, 27, 8, 6.84),
 ('Davidson', 115.6, 21, 12, 2.57)]

In [0]:
vill_sched = Schedule('Villanova', year='2019')

In [148]:
vill_sched.dataframe.head()

                                      arena  ... type
2018-11-06-19-villanova   Finneran Pavilion  ...  Reg
2018-11-10-20-villanova  Wells Fargo Center  ...  Reg
2018-11-14-18-villanova   Finneran Pavilion  ...  Reg
2018-11-17-17-villanova   Finneran Pavilion  ...  Reg
2018-11-22-13-canisius       HP Field House  ...  Reg

[5 rows x 19 columns]

In [0]:
results = []
for game in vill_sched:
  game_num = game.game
  opponent = game.opponent_name
  result = game.result
  points_for = game.points_for
  points_against = game.points_against
  date = game.date
  results.append([game_num, opponent, result, points_for, points_against, date])

In [0]:
vill_results = pd.DataFrame(results, columns=['Game', 'Opponent', 'Result', 'Point For', 'Point Against', 'Date'])
vill_results.set_index('Game')
vill_results = vill_results.fillna('Not Played')

In [151]:
vill_results.loc[vill_results['Point For'] == 'Not Played', 'Result'] = ''

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [152]:
vill_results.Result.value_counts()

Win     26
Loss    10
Name: Result, dtype: int64

In [0]:
p4 = vill_results['Point For']
pa = vill_results['Point Against']

In [154]:
sum(p4), sum(pa)

(2654, 2425)